@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Footer
-----------------------------------------------------*/
.l-footer {
  padding: 40px 0 60px;
  clear: both;
  background-color: $main-color;
}

.footer-wrapper {
  padding: 0 4.8vw;

  @include mq("xxl") {
    padding: 0 6.07vw;
  }
}

.footer-content {
  margin-top: -130px;

  @include mq("xl") {
    margin-top: -190px;
  }
}

.footer-figure {
  overflow: hidden;
  filter: grayscale(100%);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s ease-out;
  }

  &:hover {
    filter: grayscale(0%);

    img {
      scale: 1.1;
    }
  }

  @include mq("xl") {
    height: 734px;
  }
}

.footer-text {
  padding-top: 40px;
  color: $base-color;
  font-size: 1.3125rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2;
  text-align: center;

  @include mq("xl") {
    padding-top: 74px;
    font-size: 2rem;
  }
}

.footer-button {
  @include mq("xl") {
    margin-top: 80px;
  }
}

.footer-button__link {
  border: 1px solid $primary-border-color;
  font-weight: 700;

  &::after {
    background-color: $base-color;
  }

  &:hover {
    color: $primary-text-color;
  }

  @include mq("lg") {
    padding: 20px 10px;
    font-size: 1.25rem;
  }

  @include mq("xl") {
    font-size: 1.5rem;
  }
}

.footer-logo {
  color: $base-color;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  @include mq("md") {
    font-size: 2.25rem;
    text-align: left;
  }

  @include mq("xl") {
    font-size: 3rem;
  }
}

.footer-logo__subtext {
  display: block;
  font-size: 0.625rem;
  font-weight: 700;

  @include mq("xl") {
    font-size: 0.75rem;
  }
}

.sns-text {
  color: $base-color;
  font-weight: 700;
}

.sns-icon {
  width: 24px;
}

.copyright {
  padding-top: 40px;
  color: $base-color;
  font-size: 0.625rem;
  font-weight: 700;
  text-align: center;

  a {
    color: $base-color;
  }

  @include mq("md") {
    padding-top: 10px;
    text-align: right;
  }
}
